In [2]:
"""
 Author: Sumeyye Acar
 Id: 22103640
 Course: CS-115
 Semester: Summer 2023
 Assignment: Lab09
"""

'\n Author: Sumeyye Acar\n Id: 22103640\n Course: CS-115\n Semester: Summer 2023\n Assignment: Lab09\n'

## *Question 01*

a. First import numpy

In [3]:
import numpy as np

b. import the data from the files onto 3 separate numpy arrays.

- country_data stores country and region data

In [4]:
country = np.loadtxt( 'country_data.txt', skiprows = 1, dtype = 'str', delimiter='\t' )

- ind_01 stores the indicators from the 01_indicator_one file

In [5]:
ind_01 = np.loadtxt( '01_indicator.txt', skiprows = 1, delimiter = '\t' )

- ind_02 stores the indicators from the 02_indicator file

In [6]:
ind_02 = np.loadtxt( '02_indicator.txt', skiprows = 1, delimiter = '\t' )

c. Create a new array h_data where the first column is the 02_indicator data and the remaining columns are from 02_indicator

In [7]:
ind_data = np.hstack( [ind_02.reshape( (len(ind_02), 1) ), ind_01,] )

d. Increase the healthy life expectancy values in ind_data by 10%

In [8]:
ind_data[:,2] *= 0.95

e. #display the names of the countries in Middle East and North Africa

In [9]:
print( country[country[:,0] == "Middle East and North Africa" ][:,1] )

['Algeria' 'Bahrain' 'Egypt' 'Iran' 'Iraq' 'Israel' 'Jordan' 'Kuwait'
 'Lebanon' 'Libya' 'Morocco' 'Palestinian Territories' 'Saudi Arabia'
 'Tunisia' 'Turkey' 'United Arab Emirates' 'Yemen']

f.Display the social support values for the countries in Middle East and North Africa

In [10]:
print( ind_data[country[:,0] == "Middle East and North Africa" ][:,1] )

[0.821 0.873 0.813 0.844 0.891 0.827 0.71  0.767 0.94  0.774 0.779 0.744
 0.764 0.934 0.908 0.934 0.879]

g. Find and display the mean gdp value for all countries

In [11]:
mean_val = np.mean( ind_data[:,0] )
print( f"Average GDP: {mean_val:.3f}" )

Average GDP: 9.432

h. Find the countries with below average gdp store as countries

In [12]:
countries = country[ind_data[:,0] < mean_val][:,1]

i.  Find the gdps of the countries with below average gdp and store as gdp

In [13]:
gdp = ind_data[ind_data[:,0] < mean_val][:,0]

j.Create a two dimensional array where the first column contains the names of the countries with gdp average gdp and the second column is the gdp of those countries.

In [14]:
gdp_data = np.array( [countries,gdp] ).T

k. Display the countries and their gdps from step j.

In [15]:
print( "Countries and their gdps with below average gdp: " )
print( gdp_data )

Countries and their gdps with below average gdp:
[['Algeria' '9.318']
 ['Bulgaria' '8.836']
 ['Cambodia' '8.538']
 ['Chad' '8.091']
 ['Czech Republic' '9.4']
 ['Egypt' '9.053']
 ['Finland' '9.186']
 ['Gambia' '9.054']
 ['Germany' '8.62']
 ['Greece' '8.648']
 ['Guinea' '9.313']
 ['Haiti' '9.046']
 ['Hungary' '9.073']
 ['Iceland' '7.477']
 ['Ivory Coast' '8.903']
 ['Jamaica' '9.342']
 ['Japan' '9.24']
 ['Kazakhstan' '9.266']
 ['Kosovo' '8.485']
 ['Kuwait' '9.182']
 ['Kyrgyzstan' '9.367']
 ['Laos' '7.578']
 ['Libya' '8.12']
 ['Luxembourg' '8.454']
 ['Madagascar' '8.458']
 ['Malaysia' '8.755']
 ['Maldives' '7.695']
 ['Mauritania' '9.076']
 ['Mauritius' '8.973']
 ['Moldova' '9.365']
 ['Mongolia' '8.947']
 ['Montenegro' '8.36']
 ['Morocco' '8.541']
 ['Myanmar' '8.117']
 ['Namibia' '8.551']
 ['Nepal' '8.189']
 ['Netherlands' '8.118']
 ['New Zealand' '8.58']
 ['Nicaragua' '7.098']
 ['Niger' '7.686']
 ['Nigeria' '8.087']
 ['North Cyprus' '7.838']
 ['North Macedonia' '9.403']
 ['Pakistan' '7.678']
 ['Palestinian Territories' '7.158']
 ['Panama' '8.533']
 ['Paraguay' '7.744']
 ['Peru' '7.677']
 ['Philippines' '7.288']
 ['Poland' '8.361']
 ['Portugal' '9.161']
 ['Romania' '7.364']
 ['Russia' '9.065']
 ['Rwanda' '8.031']
 ['Saudi Arabia' '7.694']
 ['Senegal' '8.542']
 ['Serbia' '7.396']
 ['Sierra Leone' '7.362']
 ['Singapore' '8.145']
 ['Slovakia' '7.434']
 ['Slovenia' '6.635']
 ['South Africa' '7.876']
 ['South Korea' '6.958']
 ['Spain' '7.926']
 ['Swaziland' '7.676']
 ['Sweden' '7.943']]

l. Output the data to a file below_gdp.txt

In [16]:
np.savetxt( "below_gdp.txt", gdp_data, fmt='%s' )

m. Display the regions with at least 1 country with freedom to make life choices over 0.9 (no duplicates)

In [17]:
regions_above = country[ind_data[:,3] > 0.9][:,0]
print( np.unique( regions_above ) )

['Central and Eastern Europe' 'Commonwealth of Independent States'
 'East Asia' 'Latin America and Caribbean' 'Middle East and North Africa'
 'North America and ANZ' 'Southeast Asia' 'Sub-Saharan Africa'
 'Western Europe']